.pageWrapper{max-width: 1440px;z-index: 10;color: white;margin: 0 auto;}
.pageInner{width: 100%;padding:100px 300px; animation: pageLoad 1s ease-in-out;}

.headerWrapper{}
.onlineWrapper{display: flex;align-items: center;column-gap: 20px;}
.onlineWrapper p{color: rgb(226, 226, 226);}
.greenCircle{width: 15px;height: 15px;background-color: rgb(177, 202, 138);border-radius: 50%;}

.mainText{margin-top: 20px;}
.mainText h2{color: white;font-size: 45px;}
.mainText{ background: linear-gradient(45deg, #e56382, #981902);-webkit-background-clip: text;background-clip: text;color: transparent;}
.mainText h1{font-size: 55px;}

.links{display: flex;margin-top: 20px;column-gap: 20px;}
.links a{text-decoration: none;color: white;}
.link{background-color: rgba(48, 48, 48, 0.86);display: flex;padding: 15px;border-radius: 30px;gap: 5px;cursor: pointer;transition: 0.5s; align-items: center;}
.link img{height: 30px;width: 30px;background-color: white;border-radius: 50%;padding: 5px;}
.link:hover{background-color: white;color: black;}
.link:hover img{background-color: rgba(0, 0, 0, 0.147);}

.headerContent{border-bottom: 1px solid rgba(196, 196, 196, 0.86);margin-top: 40px;}
.headerContent p{color: rgba(162, 162, 162, 0.86);font-weight: 400;font-size: 20px;padding-bottom: 20px;line-height: 30px;}


.timeLineWrapper{margin-top: 40px;}
.timeLine{margin-top: 40px;}
.rightTimeLineBox{border-left: 2px solid white;padding-left: 30px;margin-left: 50%;position: relative;height: 150px;}
.leftTimeLineBox{border-right: 2px solid white;padding-right: 30px;margin-right: 49.6%;position: relative;height: 150px;text-align: right;}
.dotsRight{width: 20px;height: 20px;background-color: white;border-radius: 50%;position: absolute;left: -10px;top: -8px;}
.dotsLeft{width: 20px;height: 20px;background-color: white;border-radius: 50%;position: absolute;right: -10px;top: -8px;}
.timeLine span{color: rgba(255, 255, 255, 0.859);font-weight: 900;}
.timeLine p{color: rgb(156, 156, 156);}
.rightTimeLineBox:last-of-type{border-left: 2px solid;border-image: linear-gradient(to bottom, white, black) 1;}
.leftTimeLineBox:last-of-type{border-right: 2px solid;border-image: linear-gradient(to bottom, white, black) 1;}

.projectsWrapper{margin-top: 40px;}
.projectsCardWrapper{display: flex;flex-wrap: wrap;column-gap: 20px;margin-top: 40px;row-gap: 20px;}
.projectsCard{width: 250px;height: 250px;background-color: rgb(45,47,51);border-radius: 10px;padding: 10px;cursor: pointer;transition: 0.3s;}
.projectsCard p{margin-top: 15px;color: rgb(117, 120, 125);}

.iconsWrapper{display: flex;margin-top: 20px;column-gap: 10px;}
.iconsWrapper img {height: 30px;filter: grayscale(100%) invert(100%);transition: 0.5s;}

.techWrapper{margin-top: 40px;}
.techCardWrapper{display: flex;flex-wrap: wrap;column-gap: 20px;margin-top: 40px;row-gap: 20px;}
.techCard{width: 185px;height: 185px;background-color: rgb(45,47,51);border-radius: 10px;padding: 10px;display: flex;justify-content: center;align-items: center;}
.techCard img {height: 80px;filter: grayscale(100%) invert(100%);}

.techCard img {height: 80px;filter: grayscale(100%) invert(100%);transition: 0.5s;}
.techCard:hover img {filter: none;transform: scale(1.25,1.25);}
.techCard:hover{background-color: rgba(237, 237, 237, 0.585);cursor: pointer;}

.projectsCard:hover{background-color: rgb(64, 67, 73);transform: scale(1.1,1.1);}


.chatBotIcon{position: fixed;right: 50px;bottom: 50px;background-color: rgba(204, 204, 204, 0.514);padding: 15px;border-radius: 30px;z-index: 5;cursor: pointer;}
.chatBotIconWrapper{max-width: 60px;animation: moveBot 5s infinite;}
.chatBotIconWrapper img{width: 100%;}

.chatBotMessagesWrapper{position: fixed;right: 50px;bottom: 50px;z-index: 10;}
.chatBotMessagesInner{height: 600px;width: 500px;background-color: rgb(45,47,51);box-shadow: 1px 1px 10px black;border-radius: 10px;padding-left: 10px;padding-right: 10px;}
.chatBoxHeaderColor{background-color: rgb(229, 231, 240);height: 70px;border-top-left-radius: 20px;border-top-right-radius: 20px;}

.chatWrapper{height: 510px;overflow-y: scroll;}
.chatWrapper::-webkit-scrollbar {width: 5px;height: 20px;}
.chatWrapper::-webkit-scrollbar-thumb {background-color: lightgray;}
.chatWrapper::-webkit-scrollbar-track {background-color: rgba(128, 128, 128, 0.519);margin-top: 50px;margin-bottom: 20px;}
.botMessage{background-color: rgb(56, 59, 63);padding: 20px;border-radius: 10px;margin-top: 20px;margin-left: 10px;max-width: 400px;width: fit-content;margin-right: auto}
.userMessage{text-align: right;background-color: rgb(54, 64, 80);padding: 20px;border-radius: 10px;margin-left: auto;max-width: 400px;margin-top: 20px;width: fit-content;margin-right: 10px;}
.userMessage p{color: white;}
.errorMessage{text-align: center;background-color: rgb(95, 58, 58);padding: 20px;border-radius: 10px;margin-left: auto;max-width: 400px;margin-top: 20px;width: fit-content;margin-right: auto;}
.errorMessage p{color: white;}

.chatInputWrapper{padding: 10px 20px;position: relative;}
.chatInputWrapper input{padding: 20px;width: 100%;border: 1px solid rgb(229, 231, 240);box-shadow: 1px 3px 5px rgb(229, 231, 240);border-radius: 10px;}
.sendButton{position: absolute;right: 30px;top: 20px;max-width: 40px;cursor: pointer;}
.sendButton img{width: 100%;}

.pdfWrapper{margin-top: 50px;}
.pdfWrapper button{background-color: rgb(56, 59, 63);width: 150px;height: 50px;outline: none;border: 1px solid white;border-radius: 20px;color: white;cursor: pointer;}
.pdfStyles{margin-top: 40px;height: 800px;}

.closeIcon{display: none;}

.bubbles{display: flex;position: fixed;column-gap: 40px;}
.bubblesImage {width: 60px;background-color: rgba(255, 255, 255, 0.567);border-radius: 50%; animation: bubbles 8s linear infinite;padding: 5px;transition: 0.4s all;}
.bubblesImage img{width: 100%;}
.bubblesImage:hover {animation-play-state: paused;background-color: rgb(255, 255, 255)}

@keyframes bubbles{
    0%{
        transform: translateY(100vh) scale(0.6) rotateY(0) rotateX(0);
    }
    100%{
        transform: translateY(-10vh) scale(1) rotateY(45deg) rotateX(90deg);
    }
}

@keyframes pageLoad {
    0%{opacity: 0;transform: translateY(50px);}
    100%{opacity: 1;transform: translateY(0);}
}

@keyframes moveBot {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}



@media (max-width: 1440px) {
    .bubbles{column-gap: 2.778vw;}
    .bubblesImage {width: 4.167vw;padding: 5px;}

    .pageInner { padding: 6.94vw 20.83vw; }
    .onlineWrapper { column-gap: 1.39vw; }
    .greenCircle { width: 1.04vw; height: 1.04vw; }
    .mainText { margin-top: 1.39vw; }
    .mainText h2 { font-size: 3.13vw; }
    .mainText h1 { font-size: 3.82vw; }
    .links { margin-top: 1.39vw; column-gap: 1.39vw; }
    .link { padding: 1.04vw; border-radius: 2.08vw; gap: 0.35vw; }
    .link img { height: 2.0833vw; width: 2.0833vw;border-radius: 50%; padding: 0.3472vw; }
    .headerContent { border-bottom: 0.07vw solid rgba(196, 196, 196, 0.86); margin-top: 2.78vw; }
    .headerContent p { font-size: 1.39vw; padding-bottom: 1.39vw; line-height: 2.08vw; }
    .timeLineWrapper { margin-top: 2.78vw; }
    .timeLine { margin-top: 2.78vw; }
    .rightTimeLineBox { border-left: 0.14vw solid white; padding-left: 2.08vw;  height: 10.42vw; }
    .leftTimeLineBox { border-right: 0.14vw solid white; padding-right: 2.08vw; height: 10.42vw; }
    .dotsRight { width: 1.39vw; height: 1.39vw; border-radius: 50%; left: -0.69vw; top: -0.56vw; }
    .dotsLeft { width: 1.39vw; height: 1.39vw; border-radius: 50%; right: -0.69vw; top: -0.56vw; }
    .rightTimeLineBox:last-of-type { border-left: 0.14vw solid; }
    .leftTimeLineBox:last-of-type { border-right: 0.14vw solid; }
    .projectsWrapper { margin-top: 2.78vw; }
    .projectsCardWrapper { column-gap: 1.39vw; margin-top: 2.78vw; row-gap: 1.39vw; }
    .projectsCard { width: 17.36vw; height: 17.36vw; border-radius: 0.69vw; padding: 0.69vw; }
    .projectsCard p { margin-top: 1.04vw; }
    .iconsWrapper { margin-top: 1.39vw; column-gap: 0.69vw; }
    .iconsWrapper img { height: 2.08vw; }
    .techWrapper { margin-top: 2.78vw; }
    .techCardWrapper { column-gap: 1.39vw; margin-top: 2.78vw; row-gap: 1.39vw; }
    .techCard { width: 12.85vw; height: 12.85vw; border-radius: 0.69vw; padding: 0.69vw; }
    .techCard img { height: 5.56vw; }
    
    .onlineWrapper p:not(:first-of-type){font-size: 1.5vw;}
    .link p{font-size: 1.5vw;}
    .timeLineWrapper h3{font-size: 2.5vw;}
    .timeLineWrapper p{font-size: 1.5vw;}
    .projectsWrapper h2{font-size: 2.5vw;}
    .projectsWrapper h3{font-size: 1.6vw;}
    .projectsWrapper p{font-size: 1.1vw;}

}  

@media (max-width: 768px) {
    .pageInner { padding: 10.4167vw 5vw; }
    .onlineWrapper { column-gap: 2.0833vw; }
    .greenCircle { width: 2.0833vw; height: 2.0833vw; }
    .mainText { margin-top: 5vw; }
    .mainText h2 { font-size: 7vw; }
    .mainText h1 { font-size: 9vw; }
    .links { margin-top: 4vw; column-gap: 4vw; }
    .link { padding: 3vw 4vw; border-radius: 4.1667vw; gap: 2vw;align-items: center; }
    .link img { height: 5vw; width: 5vw;border-radius: 50%; padding: 0.7vw; }
    .headerContent { border-bottom: 0.1042vw solid rgba(196, 196, 196, 0.86); margin-top: 5.2083vw; }
    .headerContent p { font-size: 4vw; padding-bottom: 4vw; line-height: 6vw; }
    .timeLineWrapper { margin-top: 10vw; }
    .timeLineWrapper h3{font-size: 10vw;text-align: center;}
    .timeLine { margin-top:10vw; }
    .rightTimeLineBox { border-left: 0.2083vw solid white; padding-left: 5vw;  height: 20vw; }
    .leftTimeLineBox { border-right: 0.2083vw solid white; padding-right: 5vw; height: 20vw; }
    .dotsRight { width: 2.0833vw; height: 2.0833vw; border-radius: 50%; left: -1.0417vw; top: -0.8333vw; }
    .dotsLeft { width: 2.0833vw; height: 2.0833vw; border-radius: 50%; right: -1.0417vw; top: -0.8333vw; }
    .rightTimeLineBox:last-of-type { border-left: 0.2083vw solid; }
    .leftTimeLineBox:last-of-type { border-right: 0.2083vw solid; }
    .projectsWrapper { margin-top: 10vw; text-align: center;}
    .projectsWrapper h2{font-size: 10vw;}
    .projectsCardWrapper { column-gap: 4vw; margin-top: 10vw; row-gap: 4vw; justify-content: center;}
    .projectsCard { width: 90%; height: fit-content; border-radius: 5vw; padding: 4vw;text-align: center; }
    .projectsCard h3{font-size: 6vw;}
    .projectsCard p { margin-top: 2vw;font-size: 4vw; }
    .iconsWrapper { margin-top: 4vw; column-gap:3vw;justify-content: center; }
    .iconsWrapper img { height: 8vw; }
    .techWrapper { margin-top: 10vw; }
    .techWrapper h3{font-size: 10vw;text-align: center;}
    .techCardWrapper { column-gap: 2.0833vw; margin-top: 10vw; row-gap: 2.0833vw; }
    .techCard { width: 28vw; height: 28vw; border-radius: 2vw; padding: 1.3021vw; }
    .techCard img { height: 10.4167vw; }
    
    .onlineWrapper p:not(:first-of-type){font-size: 3.125vw;}
    .link p{font-size: 3.125vw;}
    .timeLineWrapper p{font-size: 3.125vw;}
    .pdfWrapper {display: none;}
}

/* BOT MEDIA QUERIES */
@media (max-width:768px) {
    .bubbles{display: none;}
    .chatBotIcon{right: 5vw;bottom: 5vw;padding: 2vw;border-radius: 3vw;}
    .chatBotIconWrapper{max-width: 15vw;}

    .chatWrapper::-webkit-scrollbar {width: 5px;height: 20px;}
    .chatWrapper::-webkit-scrollbar-thumb {background-color: rgb(211, 211, 211);}
    .chatWrapper::-webkit-scrollbar-track {background-color: rgba(128, 128, 128, 0.33);margin-top: 15vw; margin-bottom: 5vw;}
    
    .chatBotMessagesWrapper{position: fixed;right: 0;bottom: 0;z-index: 10;top: 0;left: 0;}
    .chatBotMessagesInner{height: 100%;width: 100%;box-shadow: 1px 1px 10px black;border-radius: 0;padding-left: 10px;padding-right: 10px;background: rgb(0, 0, 0);background-image: radial-gradient(rgba(255, 255, 255, 0.24) 1px, transparent 0);background-size: 80px 80px;animation: moveBackground 2s linear infinite;}
    .chatBoxHeaderColor{background-color: rgb(229, 231, 240);height: 70px;border-top-left-radius: 20px;border-top-right-radius: 20px;}

    .chatWrapper{height: 87%;overflow-y: scroll;padding: 10vw 5vw;}

    .botMessage{background-color: rgb(56, 59, 63);padding: 20px;border-radius: 10px;margin-top: 20px;margin-left: 10px;max-width: 80vw;width: fit-content;margin-right: auto;overflow-x: hidden;}
    .userMessage{overflow-x: hidden;text-align: right;background-color: rgb(54, 64, 80);padding: 20px;border-radius: 10px;margin-left: auto;max-width: 80vw;margin-top: 20px;width: fit-content;margin-right: 10px;}
    .userMessage p{color: white;}
    .errorMessage{overflow-x: hidden;text-align: center;background-color: rgb(95, 58, 58);padding: 20px;border-radius: 10px;margin-left: auto;max-width: 80vw;margin-top: 20px;width: fit-content;margin-right: auto;}
    .errorMessage p{color: white;}

    .chatInputWrapper{padding: 2vw 3vw;position: relative;}
    .chatInputWrapper input{padding: 5vw;padding-right: 15vw;width: 100%;border: 1px solid rgb(229, 231, 240);box-shadow: 1px 3px 5px rgb(229, 231, 240);border-radius: 1vw;}
    .sendButton{position: absolute;right: 6vw;top: 5.5vw;max-width: 8vw;cursor: pointer;}
    .sendButton img{width: 100%;}

    .closeIcon{display: block;width: 8vw;position: absolute;right: 3vw;top: 4vw;background-color: white;padding: 2vw;border-radius: 50%;}
}

@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -80px; /* Adjust the value based on the desired speed */
    }
  }